.reservation-card {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(4,1fr);
  height: auto;
  background-color: #495E57;
}

.left {
  grid-column: 3 / 7;
  grid-row:2 / 4 ;
  place-self: center;
}

.right {
  grid-column: 8 / 11;
  grid-row: 2/4;
  place-self: center;
}

.right img {
  border-radius: 16px;
  max-width: 100%;
  height: auto;
  min-width: 300px;
}


