.reservation-card {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(5,1fr);
  height: auto;
  background-color: #495E57;
}

.left {
  grid-column: 3 / 7;
  grid-row:2 / 5 ;
  place-self: left;
}

.right {
  grid-column: 7 / 10;
  grid-row: 2/5;
  place-self: right;
}

.right img {
  border-radius: 16px;
}


