.SpecialMenuCard{
  background-color: #495E57;
}
.ContentOfTheSpecialMenuCard {
    display: grid;
    grid-template-columns: repeat(12, 1fr); 
  }
.ContentOfTheSpecialMenuCard_First{
    grid-column: 3/4;
    place-self: left;
}

.ContentOfTheSpecialMenuCard_Second{
    grid-column: 4/8;
    place-self: center;
}

.ContentOfTheSpecialMenuCard_Third {
    grid-column: 8/10;
    place-self: right;
}

.titleOfTheSpecialMenuCard {
  color: white;
  display: grid;
  grid-template-columns: repeat(12, 1fr); 
  margin: 20px 0px 15px 0px; 
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  white-space: nowrap;
}

.titleOfTheSpecialMenuCard_left {
grid-column: 3; 
font-family: 'Markazi Text';
font-style: normal;
font-weight: 400;
font-size: 40px;
place-self: left;
}

.titleOfTheSpecialMenuCard_right {
  grid-column: 8/11;
  place-self: right;
}