.Testimonial{
    background-color:#edefee ;
}

.ContentOfTestimonials {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.ContentOfTestimonials_First {
  grid-column: 3/ 4;
  place-self: left;
}

.ContentOfTestimonials_Second {
  grid-column: 5 / 6;
  place-self: center;
}

.ContentOfTestimonials_Third {
  grid-column: 7 / 8;
  place-self: center;
}

.ContentOfTestimonials_Fourth {
  grid-column: 9 / 10;
  place-self: left;
}


.titleOfTestimonials {
  display: grid;
  grid-template-columns: repeat(1, 1fr); 
  white-space: nowrap;
  text-align: center;
  font-family: 'Markazi Text';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  color: rgb(0, 0, 0);
  place-content: bottom;
}
